@page "/"

<h1>Virtualize Example</h1>

<MudExpansionPanels MultiExpansion="true" Class="mt-3">
    <MudExpansionPanel Text="@($"Expired ({Items.Count})")" IsInitiallyExpanded="true">
        <MudGrid>
            <Virtualize Items="@Items" Context="item" ItemSize="190" OverscanCount="10">
                <ItemContent>
                    <MudItem xs="4" Class="mb-3">
                        <MudCard>
                            <MudCardHeader>
                                <CardHeaderContent>
                                    <MudText Typo="Typo.h6">@(item.Name.Length > 11 ? item.Name.Substring(0, 11) : item.Name)</MudText>
                                    <MudText Typo="Typo.subtitle2">(@item.PartnerName)</MudText>
                                </CardHeaderContent>
                            </MudCardHeader>
                            <MudCardContent>
                                <MudText Typo="Typo.body2">Field1: @item.Field1</MudText>
                                <MudText Typo="Typo.body2">Field2: @item.Field2</MudText>
                                <MudText Typo="Typo.body2">Field3: @item.Field3</MudText>
                                <MudText Typo="Typo.body2">Field4: @item.Field4</MudText>
                                <MudText Typo="Typo.body2">Field5: @item.Field5</MudText>
                            </MudCardContent>
                            <MudCardActions>
                                <MudButton Variant="Variant.Text" Color="Color.Primary" Class="ml-auto">Manage</MudButton>
                            </MudCardActions>
                        </MudCard>
                    </MudItem>
                </ItemContent>
            </Virtualize>

    </MudGrid>
    </MudExpansionPanel>
</MudExpansionPanels>


@code {
    protected List<Data> Items = new();

    protected List<Data> MoreItems = new();

    protected override void OnInitialized()
    {

        Items.Add(new Data(0));

        MoreItems.Add(new Data(0));

        for (var i = 1; i < 1000; i++)
        {
            Items.Add(new Data(i));

            MoreItems.Add(new Data(i));
        }

        Items = Items.OrderBy(x => x.Index).ToList();
        MoreItems = MoreItems.OrderBy(x => x.Index).ToList();
    }
}
